body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: salmon;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 48px;
    margin: 0;
}

h2 {
    font-size: 32px;
    margin: 10px 0;
}

header p {
    font-size: 30px;
}

.story {
    display: flex;
    align-items: center;
    margin: 20px;
}

.story img {
    width: 200px;
    height: auto;
    margin-right: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    position: relative;
    bottom: 0;
    width: 100%;
}
